/* Place custom css here. */

.list-item {
  height: 100px;
  padding: 20px;
  border-radius: 15px;
}

.shadow-item {
  box-shadow:  20px 20px 60px #d9d9d9,
            -20px -20px 60px #ffffff;
}

.dark .dark\:shadow-item {
  box-shadow: 20px 20px 60px #3c3939, -20px -20px 60px #3d3a3a;
}
